.Show-wrapper
  %ul
    - @links.each do |link|
      %li.Link__content
        .Link__content__area
          .Link__content__area__left
            = link_to link.name, "#{link.url}"
          .Link__content__area__right
            .Link__content__area__right__destory
              削除
            .Link__content__area__right__edit
              編集
        .Link__content__comment
          ＜コメント＞
          %br
            = link.comment

.Main-form
  = form_with model: @link, html: {class: "Form"}, local: true do |f|
    .Form__content
      = f.text_field :name, placeholder: "サイト名を入力 google", class: "Form__area"
      = f.text_field :url, placeholder: "URLを入力 https://www ~ ", class: "Form__area"
      = f.text_field :comment, placeholder: "コメントを入力してください", class: "Form__area"
    .Form__btn
      = f.submit "追加", class: "Form__btn__area"