.Show-wrapper
  %ul
    - @links.each do |link|
      %li.Link__content
        .Link__content__area
          .Link__content__area__left
            = link_to link.name, "#{link.url}", target: :_blank, rel: "noopener noreferrer"
          .Link__content__area__right
            .Link__content__area__right__destory
              = link_to "削除", category_link_path(category_id: @category, id: link.id), method: :delete
            .Link__content__area__right__edit
              = link_to "編集", edit_category_link_path(category_id: @category, id: link.id), method: :get
        .Link__content__comment
          ＜コメント＞
          %br
            = link.comment

= render "links/form-link"